{% extends "layout.html" %}

{% block body %}
<div class="container">
    <br>
    <h3 class="text-center">Add more knowledge to your database</h3>
    <form action="/add" method="POST">
        <div class="form-group">
            <label>Notion Page</label>
            <input type="text" name="link" class="form-control mb-3"
                placeholder="e.g. https://www.notion.so/example-highlights">
            <small class="form-text text-muted">Please enter the link of the your notion highlights page.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</div>

{% endblock%}

