<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notion X Readwise{% endblock %} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename="style.css")}}>
    <link rel="shortcut icon" href={{ url_for('static', filename="/images/favicon.ico")}} type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Notion X Readwise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li {% if request.path == '/' %}class="active" {% endif %} class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li {% if request.path == '/daily' %}class="active" {% endif %} class="nav-item">
                    <a class="nav-link" href="/daily">Daily Review</a>
                </li>
                <li {% if request.path == '/highlights' %}class="active" {% endif %} class="nav-item">
                    <a class="nav-link" href="/highlights">Highlights</a>
                </li>
                <li {% if request.path == '/add' %}class="active" {% endif %} class="nav-item">
                    <a class="nav-link" href="/add">Add</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mx-1">
                        <a class="btn btn-outline-primary btn-md btn-block" href="#">Login</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="btn btn-primary btn-md btn-block" href="#">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <!-- Alerts -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <span>{{message}}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


    <!-- Main block for Content -->
    <main>
        {% block body %}
        {% endblock %}
    </main>


    <!-- jQuery Links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- For Nav Bar -->
    <script>
        $(document).ready(function () {
            $("#{{request.endpoint}}").parent().addClass("active");
        })
    </script>

</body>

<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <img width="25" src="{{ url_for('static', filename='/images/logo.png')}}" alt="logo">
        <span class="text-body"><b>notionXreadwise by </b><a href="#"
                class="badge badge-primary">@samiCode-irl</a></span>
    </div>
</footer>

</html>