{% extends "layout.html" %}

{% block title %}Daily{% endblock %}

{% block body %}
<div class="container pagefade">
    <br>
    <h1 class="text-center">{{today}}</h1>
    <hr class="mt-4 mb-5">

    <div class="col">
        {% for highlight in highlights %}
        <h3><a id="liberate" class="text-dark" href="{{url_for('highlight', highlight_id=highlight['id'])}}">{{highlight['title']}}</a></h3>
        <h6 class="text-secondary">by {{highlight['author']}}</h6>
        <p>{{highlight['highlight']}}</p>
        {% set tags = highlight['tags'].split("\'")%}
        {% for i in tags %}
        {% if i|length > 2 %}
        <a href="{{url_for('tags', tag=i)}}"><span class="badge badge-pill badge-dark">{{i}}</span></a>
        {% endif %}
        {% endfor %}
        <hr class="mt-5 mb-5">
        {% endfor %}
    </div>
</div>

{% endblock %}